#customization-form {
    margin: 2em 0 2em 0;
}

#customization-row {
    justify-content: center;
}

#customization-header {
    color:white;
    font-weight: 1000;
    margin-top: 1em;
    font-size: 1.5em;
    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
    1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000, 3px 0px 0 #000;
}

#start-button {
    font-weight: 1000;
    font-size: 2em;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 20px;
    background-color: #F1CE60;
    text-shadow: black 0px 0px 5px;
    border: none;
}