.lobby-list-item {
    border-radius: 10px;
    background-color: #6254D0;
    margin: 1em 0 1em 0;
    padding: 0.5em;
    font-size: 2em;
    
    border: solid #2823BC 2px !important;
    margin-right: 3em;
    display: inline-block;
    width: 100%;
}

#player-list-avatar-display {
    border-radius: 10px;
    background-color: #52aeff;
    width: 200px;
    margin: 0 0 0 1em;
    float:right;
}

#logo {
    position: absolute;
    width: 450px;
    height: auto;
}

#url {
    text-align: right;
    margin-right: 5em;
    text-shadow: black 1px 1px 1px;
    color:white;
    font-weight: 1000;
    font-size: 1.25em;
}