* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.countdown {
    color:white;
    font-size: 1.25em;
    font-weight: 1000;
    margin:auto;
    text-shadow: black 0 0 3px;
    text-align: center;
}


.page-title {
    color: #fff;
    font-size: 3em;
    font-weight: 700;
}

.game-logo {
    position: absolute;
    top: 1em;
    left: 1em;
}

/* Home */

.home {
    padding: 1em;
    width: 100vw;
    height: 100vh;
    background-image: url("./Assets/rays.png"), linear-gradient(#D22999, #6253D0);

    min-height: 100vh;
    width: 100%;

    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
.dropShadow {
    text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000, 2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000, 5px 0px 0 #000;
}
.home:first-child {
    text-align: center;
}

#join-room-btn {
    position: relative;
    margin-top: 2.5em;
    width: 15em;
    height: 2.5em;
    border-radius: 0.25em;
    background: #2823BC;
    border: none;
    z-index: 1;
    color: #fff;
}

#join-room-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #F1CE60;
    border-radius: 0.25em;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

#join-room-btn:hover {
    color: rgb(0, 0, 0);
}

#join-room-btn:hover:after {
    left: 0;
    width: 100%;
}

#join-room-btn:active {
    top: 2px;
}

/* Game */

.game {
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(#D22999, #6253D0);
    padding-top: 1em;
}

#canvas {
    width: fit-content;
    margin: auto;
}

#canvas>span {
    vertical-align: middle;
}

#canvas button {
    border-radius: 0.25em;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    vertical-align: top;
    text-align: right;
    transition: 0.3s;
}

#canvas button:hover {
    background: #fff;
    border: 1px solid #000;
    color: #000;
    border: none;
}

/* Round Results */

.round-results {
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(#D22999, #6253D0);
}

#round-result-winner {
    margin: auto;
    width: 50%;
    height: 15em;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
}

#round-result-winner>* {
    color: #fff;
    width: fit-content;
    padding-top: 1.25em;
    margin: auto;
}

#winner-prompt-invisible {
    animation: fade-out 0.75s;
    display: none;
}

#winner-name {
    display: none;
}

#winner-name-visible {
    animation: fade-in 0.75s;
}

/* Game results */

.game-results {
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(#D22999, #6253D0);
    padding: 1em;
}

#game-winner-container {
    margin: auto;
    width: 75%;
    height: 25em;
    border-radius: 0.5em;
    border: 1px solid #fff;
}

#game-winner-container>h2 {
    padding-top: 6.25em;
    text-align: center;
}

.winner-prompt {
    color: #fff;
}

.winner-prompt.visible {
    display: block;
    animation: fade-in 0.3s;
}

.winner-prompt.invisible {
    display: none;
    animation: fade-out 0.3s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        display: initial;
    }
    to {
        opacity: 0;
        display: none;
    }
}