* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-title {
    font-size: 3em;
    font-weight: 700;
}

.home {
    padding: 1em;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(255, 238, 0), rgb(185, 0, 0));
    overflow: hidden;
}

.home:first-child {
    text-align: center;
}

#join-room-btn {
    background: #b621fe;
    border: none;
    z-index: 1;
}

#join-room-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

#join-room-btn:hover {
    color: #fff;
}

#join-room-btn:hover:after {
    left: 0;
    width: 100%;
}

#join-room-btn:active {
    top: 2px;
}